<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Muli|Titillium+Web:200" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Meet Us</title>
</head>
<body>
  <div class="content">
    <header>
        <nav class="navbar navbar-fixed-top">
            <a class="navbarTitle" href="./trips">TRIP-TRAK</a>
            <a href="#" class="navMenu dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
            <ul class="dropdown-menu pull-right">
                <li class="dropLinks"><a href="/trips">Trips</a></li>
                <li class="dropLinks"><a href="/profile">Profile</a></li>
                <li class="dropLinks logout"><a>Logout</a></li>
            </ul>
        </nav>

    </header>
    <main>
      <div class="photoBox col-md-12">
        <div class="bio col-md-3">
          <div class="box text-center">
          <img class="us img-responsive" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAspAAAAJDViMWUxODU0LTVjYWQtNGQ3Zi1iYTA1LThiZDg0MmU0OWUxOQ.jpg" alt="Tim">
          <h1 class="cohort">g44</h1>
          </div>

        </div>
        <div class="bio col-md-3">
          <div class="box text-center">
          <img class="us img-responsive" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAxcAAAAJDNjN2NiNmRiLWZlOWMtNGE0ZS05NzQzLTUwMGNlZGVmZDdjZQ.jpg" alt="Sandra">
          <h1 class="cohort">g44</h1>
          </div>

        </div>
        <div class="bio col-md-3">
          <div class="box text-center">
          <img class="us img-responsive" src="http://i.imgur.com/JYgiJZU.jpg" alt="Ryan">
          <h1 class="cohort">g44</h1>
          </div>

        </div>
        <div class="bio col-md-3">
          <div class="box text-center">
          <img class="us img-responsive" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA2PAAAAJGQyNzU1YmI2LWE3NTgtNDg2Yi05YjRhLWQzY2Q2MTQ5ZmQyMA.jpg" alt="Kevin">
          <h1 class="cohort">g44</h1>
          </div>

        </div>
      </div>
    </main>
    <footer class="footer">
        <a class="navbarTitle" href="./trips">TRIP-TRAK</a>
        <p class="footText text-right">&copy; TRIP-TRAK Crew (Kevin Seagraves, Ryan Frazier, Sandra Tooley, Tim Cutter) </p>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="app.js" charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
