<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Muli|Titillium+Web:200" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Meet Us</title>
</head>
<body>
  <div class="content">
    <header class="container-fluid text-center">
      <h1 id="header"><span id="gal">galvanize </span> Meet the Crew</h1>
      <a href="index.html"><button id="btn" class="btn" type="button" name="home">Back to the Trips!</button></a>
    </header>
    <main>
      <div class="photoBox col-md-12">
        <div class="bio col-md-3">
          <div class="box text-center">
          <img class="us img-responsive" src="http://i.imgur.com/YnxUZDo.jpg" alt="Tim">
          <h1 class="cohort">g44</h1>
          </div>
          <a href="https://www.linkedin.com/in/thomas-garrison/" class="link"><img  class="linked" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" alt="linkedin"></a>
        </div>
        <div class="bio col-md-3">
          <div class="box text-center">
          <img class="us img-responsive" src="http://i.imgur.com/uZdyXK9.jpg" alt="Sandra">
          <h1 class="cohort">g44</h1>
          </div>
          <a href="https://www.linkedin.com/in/emily-ringoen-08b5b145/" class="link"><img  class="linked" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" alt="linkedin"></a>
        </div>
        <div class="bio col-md-3">
          <div class="box text-center">
          <img class="us img-responsive" src="http://i.imgur.com/JYgiJZU.jpg" alt="Ryan">
          <h1 class="cohort">g44</h1>
          </div>
          <a href="https://www.linkedin.com/in/ryanpfrazier/" class="link"><img class="linked" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" alt="linkedin"></a>
        </div>
        <div class="bio col-md-3">
          <div class="box text-center">
          <img class="us img-responsive" src="http://i.imgur.com/VBkztjy.jpg" alt="Kevin">
          <h1 class="cohort">g44</h1>
          </div>
          <a href="https://www.linkedin.com/in/jordan-doig-2ba201132/" class="link"><img  class="linked" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" alt="linkedin"></a>
        </div>
      </div>
    </main>
    <footer>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="app.js" charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
