<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Login</title>
      <link rel="stylesheet" href="./stylesheets/style.css">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <!-- Bootstrap compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   </head>
   <body>
     <nav class="navbarDiv">
         <a class="navbar-brand navText" href="./views/trips">TRAK</a>
         <div id="navbar" class="navbar-collapse collapse">
             <ul class="nav navbar-nav-right">
                 <ul class="nav pull-right">
                     <li class="divider-vertical"></li>
                     <li class="dropdown">
                         <a href="#" class="dropdown-toggle navText" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                         <ul class="dropdown-menu">
                             <li><a href="/">Login</a></li>
                             <li><a href="/trips">Trips</a></li>
                             <li><a href="#">Profile</a></li>
                         </ul>
                     </li>
                 </ul>

             </ul>

         </div>
     </nav>

     <div class = 'content'>

   <div class="container">
      <h2 class="text-center">Welcome Back!  Login here.</h2>
    <form method='POST' action='/' class="col s12">
</div>
<div class = 'containerbutton1'>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-12">
      <div class="form-group">
                    <input type="text" name="email" id="email" class="form-control input-lg" placeholder="Email" tabindex="1">
      </div>
    </div>
  </div>
<!-- </div> -->
<!-- <div class = "containerbutton2"> -->
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-12">
      <div class="form-group">
        <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="2">
      </div>
    </div>
  </div>
<!-- </div> -->




<!-- <div class = "containerbutton3"> -->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-12"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="12"></div>
      </div>
    <!-- </div> -->


    </form>
  </div>
<!-- </div> -->

<footer class="navbarFoot navbar-fixed-bottom">
  <div class="container-fluid">
      <a class="navbar-brand navText" href="./views/trips">TRAK</a>
    <p class="navText text-right">&copy; TRAK Crew (Kevin Seagraves, Ryan Frazier, Sandra Tooley, Tim Cutter) </p>
  </div>
</footer>
   </body>
</html>
