body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}



body > .container {
  padding-top: 50px;
}

/*===================*/
/*NAVBAR AND FOOTER*/
/*===================*/

.navbarDiv {
  background-color: #133929;
  opacity: .9;
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navText {
  color: white;
  /*padding: 24px;*/
}

.logo {
  font-family: 'Cabin Sketch', arial;
  font-size: 24px;
}

footer {
  background-color: #133929;
  opacity: .9;
  width: 100%;
  overflow: hidden;
}

.navbarTitle {
  font-family: 'Cabin Sketch', arial;
  font-weight: 700;
  font-size: 34px;
  padding-left: 10px;
  color: #F6F5E4;
  display: inline-block;
}

.footText {
  font-size: 14px;
  color: #F6F5E4;
  display: inline-block;
  float: right;
  margin: auto 10px auto 0;
  padding: auto 20px auto 10px;
}

/*===================*/
/*LOGIN PAGE*/
/*===================*/

.containerbutton1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*===================*/
/*REGISTRATION PAGE*/
/*===================*/

form {
  padding: 10px;
}

label {
  float:left;
}

.card {
  display: block;
  margin: auto;  
}

.content {
  padding-top: 60px;
  padding-bottom: 60px;

  /*display: block;
  margin: auto;*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
/*=================*/
/*trips*/
/*==================*/
img {
  height: auto;
  max-width: 100%;
}

.tripImg {
  display: block;
  margin: auto;
  border-radius: 10px;
  height: 400px;
  width: auto;
}
.containerjumbo {
  padding: 20px;
  min-height: 200px;
}

/*===================*/
/*OTHER*/
/*===================*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.credit-card-box {
  width: 100%;
  margin: auto;
}

#ccContainer {
  width: 100%;
}
