body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body > .container {
  padding-top: 50px;
}

/*===================*/
/*NAVBAR AND FOOTER*/
/*===================*/

.navbarDiv {
  background-color: #133929;
  opacity: .9;
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navText {
  color: white;
  padding: 24px;
}

.logo {
  font-family: 'Cabin Sketch', cursive;
  font-size: 24px;
}

.navbarFoot {
  background-color: #133929;
  opacity: .9;
      position: relative;
      /*height: 60px;*/
      width: 100%;
      margin-bottom: 0;
      padding: 0;
}

.footText {
  vertical-align: middle;
  display: block;
  vertical-align: middle;
}

.liFoot {
  display: inline-block;
}
/*===================*/
/*LOGIN PAGE*/
/*===================*/

.containerbutton1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/*===================*/
/*REGISTRATION PAGE*/
/*===================*/

form {
  padding: 10px;
}

label {
  float:left;
}

.content {
  padding-top: 60px;
  padding-bottom: 60px;
  /*display: block;
  width: 80%;
  margin: auto;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  display: flex;
  justify-content: center;
  align-items: center;

}
/*===================*/
/*OTHER*/
/*===================*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.credit-card-box {
  width: 100%;
  margin: auto;
}

#ccContainer {
  width: 100%;
}

.btn-container {
  width: 100%;
  text-align: center;
  border: 1px solid black
}
